@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Hind", sans-serif;
}

body {
  @apply bg-secondary;
  overflow-x: hidden;
}

.image-slider {
  height: 400px;
  width: 720px;
  @apply bg-white;
  @apply mx-2;
}

.link-box {
  @apply w-52;
  display: inline-block;
  height: 200px;
  border-width: 2px;
  @apply border-secondary2;
  box-shadow: 0 0 1px #e0ddaa;
}

.nav-btn:hover {
  box-shadow: 0 0 2px #e0ddaa;
}

.image-overlay {
  background-image: linear-gradient(#712b75, #ffffff00, #ffffff00, #46244c);
  background-size: cover;
  height: 66vw;
  position: relative;
}

.notifications {
  @apply absolute;
  @apply bottom-8;
  @apply text-center;
  @apply w-full;
  @apply right-0;
  text-shadow: 2px 2px 10px #000000a2;
}

.bg-image {
  width: 100vw;
  height: 66vw;
  @apply absolute;
  @apply -z-50;
}

.transparent-btn {
  background-color: #eeedde2f;
}

.progress {
  display: inline-block;
  width: 200px;
  height: 30px;
  /*margin: 35px;*/
  border-radius: 20px;
  background: #f9f9f9e5;
}

.bar {
  border-radius: 20px;
  height: 100%;
  transition: width;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.36, 0.55, 0.63, 0.48);
}

.zigZag {
  background-color: #00dac3;
  /*background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23008386' fill-opacity='0.7' fill-rule='evenodd'/%3E%3C/svg%3E");*/
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='60' viewBox='0 25 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-blur {
  backdrop-filter: blur(15px);
  background-color: #227c9d63;
}

.writing {
  font-family: "Delius Swash Caps", cursive;
  font-size: 1.2em;
}

.section {
  box-shadow: -5px 3px 21px 1px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -5px 3px 21px 1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -5px 3px 21px 1px rgba(0, 0, 0, 0.59);
}

.shadow-heavy {
  box-shadow: -10px 3px 12px 7px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -10px 3px 12px 7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -10px 3px 12px 7px rgba(0, 0, 0, 0.48);
}

.shadow-medium {
  box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
}

button:hover {
  box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -4px 3px 9px 1px rgba(0, 0, 0, 0.37);
}

.quote {
  font-family: "Amiri", serif;
}
